.date {
    text-align: right;
    font-size:11px;
}

.title {
 padding: 10px;  
 padding-left: 0px; 
}

.coment {
    text-align: center;
}

.comentI{
    background: #aab7c3;
    padding: 20px;
}

.comentP{
    background: #cfdbe6;
    padding: 20px;
}

textarea{
    width: 100%;
    background: #f6f7f8;
    resize: none;
    padding: 10px;
    height: 100px;
    font-family: "Lato", sans-serif;
}

.user {
    position: absolute;
}

.foro {
    padding-bottom: 20px;
}

li a.menuList {
    text-decoration: none; 
    color: rgb(255, 255, 255); 
}        
li a.menuList:hover {
color: rgb(255, 234, 234); 
}

.foro {
            
font-family: Arial, sans-serif;
background-color: #f5f5f5;
padding: 20px;
}

form {
background-color: #fff;
padding: 10px;
border-radius: 5px;
}

button {
background-color: #007bff;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #0062cc;
}

.foro .message {
display: flex;
align-items: flex-start;
margin-bottom: 10px;
padding: 10px;
border-radius: 5px;
}

.foro .message:nth-child(even) {
background-color: #abf3e5;
}

.foro .message:nth-child(odd) {
background-color: #adeff2;
}

.foro .message .avatar {
width: 40px;
height: 40px;
background-color: #a8f9ee;
border-radius: 50%;
margin-right: 10px;
}

.foro .message .content {
flex-grow: 1;
}

.foro .message .content .info {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 5px;
}

.foro .message .content .info .username {
font-weight: bold;
}

.foro .message .content .info .timestamp {
font-size: 12px;
color: #bbefec;
}

.foro .message .content .message-text {
margin: 0;
font-size: 16px;
}

.foro hr {
margin: 10px 0;
border: none;
border-top: 1px solid #ccc;
}