<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/principal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}">
    <link rel="icon" type="text/css" href="{% static 'favicon/boock.ico' %}">
    <script src="{% static 'js/cursos.js' %}" type="module"></script>
    <title>Foro</title>
</head>

<body>

    <header>
        {% include 'menu.html' %}
        <h1>Cursos disponibles</h1>
        <!-- <label for="Buscar" class="menuSuperior" >Buscar:</label> -->
        <input type="text" id="buscar" name="buscar" placeholder="buscar cursos..." >
        <button  onclick="search()">Buscar </button>
    </header>

    <main>
        <div  id="principal">
            <section>
                <h2>Listado de Cursos</h2>
               <div class="cardbox">
                <ul  id="prueba">
                    
                    <cursos-lista id="cursos-lista" class="grid-container"></cursos-lista>
                </ul></div>
            </section>
            <div id="openModal" class="modalbg">
                <div class="dialog">
                  <a href="#close" title="Close" class="close">X</a>
                  <popup id="popup"></popup>
                </div>
              </div></div>
        </div>

        <div id="secundario">
            <cursos-selecionado id="cursos-selecionado"></cursos-selecionado>
          </div>
    </main>

    <footer>
    </footer>
    <script src="{% static 'js/funciones.js' %}"></script>
</body>

</html>