{% extends 'base.html' %}

{% block titulo %}Foro{% endblock%}

{% load static %}

{% block class %}
<link rel="stylesheet" type="text/css" href="{% static 'css/foro.css' %}">
{% endblock %}

{% block encabezado %}
<h1 style="font-size: 8vh;">Foro</h1>
{% include 'navigation.html' %}
<p class="menuSuperior">¿Tenes dudas? Compartilas con otros estudiantes</p>
{% endblock %}
{% block contenido %}

<div class="foro">
    <!--  <foro id="foro"></foro>-->
    <!-- Formulario para cargar mensajes nuevos -->
    <form method="post" action="{% url 'foro' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Postear</button>
    </form>
    <br><br>
    <!-- Muestra los mensajes existentes -->
    {% for message in messages %}
    {% if forloop.counter|divisibleby:2 %}
      <div style="background-color: #f0f0f0;">
    {% else %}
      <div style="background-color: #e0e0e0;">
    {% endif %}
      <p>{{ message.titulo }} - {{ message.contenido }} - {{ message.usuario.username }} - {{ message.fecha }}</p>
    </div>
    <hr>
  {% endfor %}
    
</div>
</main>
<footer>
</footer>
<script src="{% static 'js/menu.js' %}"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <style>
            li a.menuList {
                text-decoration: none; 
                color: rgb(255, 255, 255); 
            }        
            li a.menuList:hover {
            color: rgb(255, 234, 234); 
            }
            
            .foro {
                        
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            padding: 20px;
          }

          form {
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;
          }

          button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
          }

          button:hover {
            background-color: #0062cc;
          }

          .foro .message {
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
          }

          .foro .message:nth-child(even) {
            background-color: #abf3e5;
          }

          .foro .message:nth-child(odd) {
            background-color: #adeff2;
          }

          .foro .message .avatar {
            width: 40px;
            height: 40px;
            background-color: #a8f9ee;
            border-radius: 50%;
            margin-right: 10px;
          }

          .foro .message .content {
            flex-grow: 1;
          }

          .foro .message .content .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
          }

          .foro .message .content .info .username {
            font-weight: bold;
          }

          .foro .message .content .info .timestamp {
            font-size: 12px;
            color: #bbefec;
          }

          .foro .message .content .message-text {
            margin: 0;
            font-size: 16px;
          }

          .foro hr {
            margin: 10px 0;
            border: none;
            border-top: 1px solid #ccc;
          }
        </style>
{% endblock %}