<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Logueate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body>

    <header>
        {% include 'menu.html' %}
        <h1>Login</h1>
    </header>
    <main>
            {% if user.is_authenticated %}
            <p>Bienvenido, {{ user.username }}!</p>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        {% endif %}
    </mian>

</body>


</html>
