{% extends 'base.html' %}

{% block titulo %}Registro{% endblock%}

{% load static %}

{% block class %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registracion.css' %}">
{% endblock %}

{% block encabezado %}
<h1>Registrarse para una cuenta</h1>
<p class="menuSuperior">¿Ya tienes una cuenta? <a href="/login/" style="color: coral;">Ingresar aqui</a>.</p>
{% endblock %}


{% block contenido %}
<main>
    <form class="form2" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit">
            Registrame
            </button>
        </div>
    </form>
</main>
<script src="{% static 'js/menu.js' %}"></script>
{% endblock %}